.header {
    height: 95vh;
    background-image: -webkit-gradient(
        linear, 
        left top, right bottom, 
        from(rgba($color-primary, 0.7)), 
        to(rgba($color-primary, 0.4))), 
        url('../assets/img/bigAir.jpg');
    background-image: -webkit-linear-gradient(
        left top, 
        rgba($color-primary, 0.7), 
        rgba($color-primary, 0.4)), 
        url('../assets/img/bigAir.jpg');
    background-image: -o-linear-gradient(
        left top, 
        rgba($color-primary, 0.7), 
        rgba($color-primary, 0.4)), 
        url('../assets/img/bigAir.jpg');
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary, 0.7), 
        rgba($color-primary, 0.4)), 
        url('../assets/img/bigAir.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    @include respond(tab-med) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 90vh);
                clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 90vh);
    }
    @include respond(tab-port) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 90vh);
                clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 90vh);
    }
    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
                clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 5rem;
        -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
                transform: rotate(0);
        -webkit-transition-duration: .5s;
             -o-transition-duration: .5s;
                transition-duration: .5s;
    }

    &__logo:hover {
        -webkit-transition-duration: .5s;
             -o-transition-duration: .5s;
                transition-duration: .5s;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        text-align: center;
    }

    
}