<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

  <label for="navi-toggle" class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="/" class="navigation__link">About Powder</a>
        <img src="assets/img/snowflake-white.png" alt="Logo" class="navigation__snowflake navigation__snowflake-1" /> 
      </li>
      <li class="navigation__item">
        <a href="/" class="navigation__link">Popular packages</a>
        <img src="assets/img/snowflake-white.png" alt="Logo" class="navigation__snowflake navigation__snowflake-2" /> 
      </li>
      <li class="navigation__item">
        <a href="#popup" class="navigation__link" onClick={this.closeNav}>Book now</a>
        <img src="assets/img/snowflake-white.png" alt="Logo" class="navigation__snowflake navigation__snowflake-3" /> 
      </li>
      <li class="navigation__item">
        <a href="/" class="navigation__link">Stories</a>
        <img src="assets/img/snowflake-white.png" alt="Logo" class="navigation__snowflake navigation__snowflake-4" /> 
      </li>
      <li class="navigation__item">
        <a href="/" class="navigation__link">Contact</a>
        <img src="assets/img/snowflake-white.png" alt="Logo" class="navigation__snowflake navigation__snowflake-5" /> 
      </li>
    </ul>
  </nav>
</div>