.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: $default-border-radius;
    -webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
            box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;

    @include respond(tab-port) {
        padding: 2rem;
    }

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: -webkit-gradient(linear, left top, right top, from($color-green-light), to($color-green-dark));
        background-image: -webkit-linear-gradient(left, $color-green-light, $color-green-dark);
        background-image: -o-linear-gradient(left, $color-green-light, $color-green-dark);
        background-image: linear-gradient(to right, $color-green-light, $color-green-dark);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }

    &:hover {
        -webkit-transform: translateY(-1.5rem) scale(1.03);
            -ms-transform: translateY(-1.5rem) scale(1.03);
                transform: translateY(-1.5rem) scale(1.03);
    }
    &__text {

    }
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }