<section class="section-features">   
  <div class="row">
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="fas fa-globe feature-box__icon"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">Explore the world</h3>
        <p class="feature-box__text">
            Quisquam impedit aut quam soluta laudantium culpa ratione repellat aperiam rerum!
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
      <i class="fas fa-leaf feature-box__icon"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">Meet Nature</h3>
        <p class="feature-box__text">
            Quisquam impedit aut quam soluta laudantium culpa ratione repellat aperiam rerum!
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon fas fa-map"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">Find your way</h3>
        <p class="feature-box__text">
            Quisquam impedit aut quam soluta laudantium culpa ratione repellat aperiam rerum!
        </p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon far fa-heart"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">We love your money</h3>
        <p class="feature-box__text">
            Quisquam impedit aut quam soluta laudantium culpa ratione repellat aperiam rerum!
        </p>
      </div>
    </div>
  </div>
</section>