<section>
  <footer class="footer">
    <div class="footer__logo-box">
      <img src="/assets/img/favicon-blue.png" alt="Full logo" class="footer__logo"/>
      <h3 class="footer__logo-text">Powder, Inc.</h3>
    </div>    
    <div class="row">
      <div class="col-1-of-2">
        <div class="footer__navigation">
          <ul class="footer__list">
            <li class="footer__item"><a href="/" class="footer__link">Company</a></li>
            <li class="footer__item"><a href="/" class="footer__link">Contact</a></li>
            <li class="footer__item"><a href="/" class="footer__link">Careers</a></li>
            <li class="footer__item"><a href="/" class="footer__link">Privacy</a></li>
            <li class="footer__item"><a href="/" class="footer__link">Terms</a></li>
          </ul>
        </div>
      </div>
      <div class="col-1-of-2">
        <p class="footer__copyright">
          This website was built by <a href="/" class="footer__link">Prescott Breeden</a>.  Check out my <a href="/" class="footer__link">other projects</a>. Copyright &copy; by Prescott Breeden. Layout inspired by Jonas Schmedtman.
        </p>
      </div>
    </div>
  </footer>
</section>