<section class="section-stories">
  <div class="bg-video">
    <video class="bg-video__content" controls autoplay muted loop>
      <source src='assets/img/Mt_Baker.mp4' type="video/mp4" />
      <source src='assets/img/Mt_Baker.webm' type="video/webm" />
      Your browser is not supported!
    </video>
  </div>

  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">
        Heaven is a chopper ride away
    </h2>
  </div>

  <div class="row">
    <div class="story">
      <figure class="story__shape">
        <img src="assets/img/nat-8.jpg" alt="person loving life" class="story__img" />
        <figcaption class="story__caption">Mona Lott</figcaption>
      </figure>
      <div class="story__text">
        <h3 class="heading-tertiary u-margin-bottom-small">I had the best week ever</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, quasi porro ullam illum dolores voluptates deserunt autem eligendi natus alias officia, ipsam, atque consectetur incidunt? Explicabo dolorem optio iste assumenda?
        </p>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="story">
      <figure class="story__shape">
        <img src="assets/img/chuck_approves.jpg" alt="person loving life" class="story__img story__img-2" />
        <figcaption class="story__caption">Chuck Norris</figcaption>
      </figure>
      <div class="story__text">
        <h3 class="heading-tertiary u-margin-bottom-small">I approve of Powder</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, quasi porro ullam illum dolores voluptates deserunt autem eligendi natus alias officia, ipsam, atque consectetur incidunt? Explicabo dolorem optio iste assumenda?
        </p>
      </div>
    </div>
  </div>

  <div class="u-center-text u-margin-top-huge">
      <a href="/stories" class="btn-text">Read all stories &rarr;</a>
  </div>
</section>